.container-card
    justify-content: center
    align-items: center
    display: flex
    background: #fff

.container-pokemon
    border: 2px solid #E5E5E5
    border-radius: 5px
    padding: 1px 1px 1px 1px
    width: 12rem

.container-name
    max-width: 60rem
    max-width: 12rem
    height: 12rem

.row
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    max-width: 60rem
    background: #fff    

.col
    display: flex
    justify-content: space-evenly
    align-items: center    
    margin: 1rem
    max-width: 15rem
    background: #fff   

.card-name
    background: #ffff
    max-width: 15rem
    max-height: 10rem
    display: flex
    align-items: center
    justify-content: center
    text-align: center

    

img
    max-width: 6rem
    
h2
    display: flex
    text-align: center
    justify-content: space-evenly
